/* GENERAL SETTING */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
main{
    padding-top: 100px;
}

/* HEADER */

header {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.Navbar li {
    margin: 0 80px;
}

.Navbar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #444;
    border-radius: 5px;
    font-size: 15px;
    justify-content: space-between;
}

.Navbar a:hover {
    background-color: #555;
}

.fond{
    background-image: url(../medias/spirale.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

h1{
    color: yellow;
}